In [44]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import spotipy
from spotipy.oauth2 import SpotifyOAuth

sp = spotipy.Spotify(auth_manager=SpotifyOAuth(client_id='da06919089954d6395139775f24cc770',client_secret='7b718f878b094f08bf945cb9663bbbb3',redirect_uri='http://127.0.0.1:9090', scope='user-top-read',username='jwhandley'))

top_artists = sp.current_user_top_artists(time_range='short_term')

top_artists.keys()

dict_keys(['items', 'total', 'limit', 'offset', 'href', 'previous', 'next'])

In [45]:
df = pd.DataFrame().from_dict({'name': [top_artists['items'][i]['name'] for i in range(20)],
                          'popularity': [top_artists['items'][i]['popularity'] for i in range(20)]}).query('popularity>40')

df

                   name  popularity
0              CHVRCHES          71
1               Perfume          57
2     Belle & Sebastian          61
3                Metric          62
4         Ariana Grande          93
5                  Pulp          64
6               Allie X          63
7              Paramore          78
8            Charli XCX          77
9        Tegan and Sara          62
10            Radiohead          80
11         Yoko Oginome          42
12             Dua Lipa          93
13      Yeah Yeah Yeahs          66
14          Arcade Fire          71
15                Cults          61
16  Death Cab for Cutie          68
17                 Nena          67
18                 Muse          79
19        All That Jazz          41

In [46]:
genres = []
for i in [top_artists['items'][i]['genres'] for i in range(20)]:
    for j in i:
        genres.append(j)

genres = (pd.DataFrame()
          .from_dict({genre:genres.count(genre) for genre in set(genres)},orient='index',columns=['count'])
          .reset_index()
          .rename(columns={'index':'genre'})
          .sort_values('count',ascending=False)
          .query('count>1')
          .reset_index(drop=True))

genres

                genre  count
0           indie pop      9
1          indie rock      6
2         modern rock      6
3    alternative rock      5
4      permanent wave      5
5                rock      5
6        metropopolis      5
7        indietronica      5
8          electropop      4
9                 pop      4
10          dance pop      4
11  alternative dance      4
12         dance-punk      3
13    indie poptimism      3
14      post-teen pop      3
15        shimmer pop      3
16           new rave      3
17           pop rock      3
18     canadian indie      3
19        melancholia      2
20       neo-synthpop      2
21        escape room      2
22          candy pop      2
23        baroque pop      2
24           art rock      2
25             uk pop      2